.exercise-container{
    width: 470px;
}

.exercise-header{
    font-size: 36px;
    font-weight: 400;
    text-shadow: -2px -4px 3px #FFFFFF, 2px 4px 3px rgba(0, 0, 0, 0.25);
    color: #252525;

    margin-bottom: 56px;
}

.exercise-display-wrap{
    margin-bottom: 50px;
}

.sentence-constructor-container{
    margin-bottom: 57px;
}

.sentence-constructor-on-check{
    margin-bottom: 50px;
}

.sentence-constructor-pallet{

}

.exercise-result-wrap{
    margin-bottom: 22px;
}

.exercise-button-wrap{
}
