.sentence-on-check-container{
    min-height: 32px;
    display: flex;
    flex-wrap: wrap;
    padding: 8px 0;
    column-gap: 7px;
    row-gap: 15px;
    position: relative;

    border-top: 1px solid #4B4B4B;
    border-bottom: 1px solid #4B4B4B;
}

.sentence-on-check-divider{
    position: absolute;
    width: 100%;
    border-top: 1px solid #4B4B4B;
}
